body{
  font-family: Arial, sans-serif;
  background:#f4fdf6;
  padding:20px;
}

h1{
  color:#1f7a3f;
  margin-bottom:20px;
}

/* Table */
.tech-table{
  width:100%;
  border-collapse:collapse;
  background:white;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
  border-radius:12px;
  overflow:hidden;
}

th, td{
  padding:12px;
  text-align:center;
  border-bottom:1px solid #eee;
}

th{
  background:#dff5e1;
  color:#1f7a3f;
}

/* Row hover animation */
tbody tr{
  transition:0.3s;
}

tbody tr:hover{
  background:#f1fff6;
  transform:scale(1.01);
}

/* Image */
td img{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:8px;
}

/* Inputs */
textarea{
  width:100%;
  height:70px;
  resize:none;
  padding:6px;
  border-radius:6px;
  border:1px solid #ccc;
}

input{
  width:100%;
  padding:6px;
  margin-top:5px;
  border-radius:6px;
  border:1px solid #ccc;
}

/* Button */
button{
  margin-top:6px;
  padding:7px 12px;
  background:#2ecc71;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#27ae60;
}
